


QPushButton#Like {

  border-radius: 3px;
  background-color: rgba(0, 0, 255, 0.6);
  width: 70px;
  height: 25px;
  border: 0.5px solid #000000
}

QPushButton#Comment {

  border-radius: 3px;
  background-color: rgba(0, 0, 255, 0.6);
  width: 70px;
  height: 25px;
  border: 0.5px solid #000000;

}

QPushButton#Share {

  border-radius: 3px;
  background-color: rgba(0, 0, 255, 0.6);
  width: 70px;
  height: 25px;
  border: 0.5px solid #000000;

}
QPushButton#Flag {

  border-radius: 3px;
  width: 60px;
  height: 25px;
  border: 0.5px solid #000000;

}

QPushButton#Flag:hover {

  border-radius: 3px;
  background-color: #ff0000;
  color: white;
  width: 60px;
  height: 25px;
  border: 0.5px solid #000000;


}
